/* Override fonts */
h1,h2,h3,h4,h5,h6,p,.menu-button,label{
    font-family:sans-serif;
    font-weight:bold;
}

/* Override button focus */
button:focus {outline:0;}

/* Background color */
body{
    background-color:#95a5a6;
}

/* Title on top of webpage */
#title{
    color:white;
}

@media screen and (max-width: 767px){
    #title{
        font-size:20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    #title{
        font-size:36px;
    }
}

@media screen and (min-width: 1367px){
    #title{
        font-size:50px;
    }
}


#title-container{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:100%;
}

/* Header */
#header{
    background-color:#34495e;
    border-color:#34495e;
}

/* Top Menu */
#top-menu{
    background-color:#2c3e50;
    border-color:#2c3e50;
}

.menu-bar{
    border-radius:0;
    margin-bottom:0;
}

/* Menu Button */
@media screen and (max-width: 767px){
    .menu-button{
        padding-top: 2px;
        padding-bottom: 2px;
        width:100px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    .menu-button{
        padding-top: 5px;
        padding-bottom: 5px;
        width:150px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1367px){
    .menu-button{
        padding-top: 5px;
        padding-bottom: 5px;
        width:190px;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.menu-button{
    display: inline-block;
    color: white;
    border: 0;
}

.menu-button:hover{
    color:#DDD;
    cursor: pointer;
    text-decoration: none;
    border: 0;
}

.b-green{
    background-color: #2ecc71;
}

.b-green:hover{
    background-color: #27ae60;
}

.b-red{
    background-color: #e74c3c;
}

.b-red:hover{
    background-color: #c0392b;
}

.b-navy{
    background-color: #2C3E50;
}

.b-navy:hover{
    background-color: #34495E;
}

.b-orange{
    background-color: #e67e22;
}

.b-orange:hover{
    background-color: #d35400;
}

/* Intro text CSS */

@media screen and (max-width: 767px){
    #intro-text{
        margin-top:50px;
        font-size:20px;
    }

    #intro-subtext{
        margin-top:10px;
        font-size:15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    #intro-text{
        margin-top:30px;
        font-size:30px;
    }

    #intro-subtext{
        margin-top:10px;
        font-size:20px;
    }
}

@media screen and (min-width: 1367px){
    #intro-text{
        color:white;
        text-align:center;
        margin-top:50px;
        font-size:50px;
    }
    
    #intro-subtext{
        color:white;
        text-align:center;
        margin-top:10px;
        font-size:25px;
    }
}

#intro-text{
    color:white;
    text-align:center;
}

#intro-subtext{
    color:white;
    text-align:center;
}

/* Help CSS */
#help-icon{
    position:fixed;
    bottom:15px;
    right:-10px;
    opacity:0.5;
    background:transparent;
    border:transparent;
}

#help-icon:hover{
    cursor:pointer;
    opacity:1;
    background:transparent;
    border:transparent;
}

@media screen and (max-width: 767px){
    #help-icon-img{
        width:33%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    #help-icon-img{
        width:60%;
    }
}

@media screen and (min-width: 1367px){
    #help-icon-img{
        width:75%;
    }
}

/* Modal-content */
.modal-dialog,.modal-content,.modal-footer{
    background-color:#9b59b6;
    color:white;
    font-family:sans-serif;
    border:0px;
    text-align:center;
    box-shadow: none;
}

.modal-header,.modal-body,.modal-footer{
    border:0;
}

/* CSS for loading icon */
#loading{
    position: fixed;
	left: 0px;
	top: 0px;
	background: url("../img/loading.gif") center no-repeat #fff;
	background-size: 50px;
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(255,255,255,0.2);
	opacity:1;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

/* Big Checkbox */

@media screen and (max-width: 767px){
    .checkbox-inline{
        font-size:15px;
    }
    
    .checkbox-inline>input{
        width:15px;
        height:15px;
        margin-left:-15;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    .checkbox-inline{
        font-size:20px;
    }
    
    .checkbox-inline>input{
        width:20px;
        height:20px;
        margin-left:-20;
    }
}

@media screen and (min-width: 1367px){
    .checkbox-inline{
        font-size:25px;
    }
    
    .checkbox-inline>input{
        width:30px;
        height:30px;
        margin-left:-30;
    }
}

.checkbox-inline>p{
    margin-left:15px;
    color:white;
}

/* Center class */
.center-class{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

/* Change input style*/

@media screen and (max-width: 767px){
    /* Nothing here because CSS defaults */
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    .input-field{
        line-height:2em;
        font-size:20px;
        height:2em;
    }
}

@media screen and (min-width: 1367px){
    .input-field{
        line-height:2em;
        font-size:25px;
        height:2em;
    }
}

.input-field{
    font-family: sans-serif;
    border:0px;
    border-radius:0;
}

/* Buttons on startup */
#logoutBtn,#leaderboardsBtn,#playBtn{
    display:none;
}

/* Menubar strings */
@media screen and (max-width: 767px){
    #usernameText,#stats{
        font-size:10px;
        margin-left:0;
        margin-right:0;
        clear:both;
        width:100%;
    }
    
    #usernameText{
        text-align:center;
    }
    
    #stats{
        text-align:center;
        padding-right:0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    #usernameText,#stats{
        font-size:14px;
    }
    
    #usernameText{
        text-align:left;
    }
    
    #stats{
        text-align:right;
        padding-right:50px;
    }
}

@media screen and (min-width: 1367px){
     #usernameText,#stats{
        font-size:18px;
    }
    
     #usernameText{
        text-align:left;
    }
    
    #stats{
        text-align:right;
        padding-right:50px;
    }
}

#usernameText,#stats{
    color:white;
    display:none;
}

/* Login and Register status */
#loginStatus,#registerStatus{
    color:white;
    font-style:italic;
}

/* TEMPORARY */
#scissor_image_temp{
    width:100%;
    text-align:center;
}

#scissor_image_temp>img{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:200px;
}

#sloth_image_temp{
    width:100%;
    text-align:center;
}

#sloth_image_temp>img{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:200px;
}

/* About-Us media query */
@media screen and (max-width: 767px){
    .modal-backdrop{
        background-color:#9b59b6;
        opacity:1 !important;
    }
}

/* Leaderboard styling */
.leaderboardPanel{
    color:white !important;
    background-color:#9b59b6 !important;
    text-align:center !important;
    border:5px solid rgb(46, 204, 113) !important;
}

/* Button row on game */
#buttonRow{
    max-width:1024px;
}

#buttonRow>button{
    background-color:transparent;
    border:0;
}
#buttonRow>button>img{
    width:200px;
    height:200px;
}


@media screen and (max-width: 768px){
    #buttonRow>button{
        margin-bottom:15px;
    }
    #buttonRow>button>img{
        width:150px;
        height:150px;
    }
}