/* Override fonts */
h1,h2,h3,h4,h5,h6,p,.menu-button{
    font-family:sans-serif;
    font-weight:bold;
}

/* Background color */
body{
    background-color:#95a5a6;
}

/* Title on top of webpage */
#title{
    color:white;
    font-size:50px;
}

#title-container{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:100%;
}

/* Header */
#header{
    background-color:#34495e;
    border-color:#34495e;
}

/* Top Menu */
#top-menu{
    background-color:#2c3e50;
    border-color:#2c3e50;
}

.menu-bar{
    border-radius:0;
    margin-bottom:0;
}

/* Menu Button */
.menu-button{
    display: inline-block;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width:190px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-button:hover{
    color:#DDD;
    cursor: pointer;
    text-decoration: none;
}

.b-green{
    background-color: #2ecc71;
}

.b-green:hover{
    background-color: #27ae60;
}

.b-red{
    background-color: #e74c3c;
}

.b-red:hover{
    background-color: #c0392b;
}

/* Miscellaneous CSS */

#intro-text{
    color:white;
    text-align:center;
    margin-top:50px;
    font-size:50px;
}

#help-icon{
    position:fixed;
    bottom:15px;
    right:-10px;
    opacity:0.5;
}

#help-icon:hover{
    cursor:pointer;
    opacity:1;
}

#help-icon-img{
    width:75%;
}